
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700;1,900&display=swap'); .body {
    font-family: 'Roboto', sans-serif;
}


body {
    padding: 0;
    margin: 0;
}
.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.phone p {
    display: inline;
    font-size: 15px;
}



.email p {
    display: contents;
    float: left;
    font-size: 17px;
}

.phone i {
    font-size: 26px
    display: inline;
    float: left;
    color: red;
    padding-right: 5px;
    height: 20px;
}

.email i {
    display: inline;
    float: left;
    color: red;
    padding-right: 10px;
}

.mincontainar {
    margin: auto;
}

header.topbar {
    width: 1170px;
    margin: auto;
}

.mainborder {
    background: #f4f4f4;
    height: 40px;
    padding-top: 20px;
}

.email {
    font-size: 26px;
    float: left;
    padding-left: 15px;
    padding-right: 288px;
    border-left: 1px solid gray;
}

.social a {
    
    font-size: 26px;
    padding-left: 37px;
    padding-right: 10px;
    float: right;
    color:black;
    
}
i.fa-solid.fa-magnifying-glass:hover {
    color: #ff5220;
    cursor: pointer;
}

a {
    height: 30px;
    color: black;
}
.social i{
    color: black;
}

.social i:hover {
    color: red;
    transition: 0.3s;
}

.phone {
    float: left;
    padding-right: 10px;
    border-left: 1px solid gray;
    padding-left: 10px;
}

.primarymenu {
    margin: auto;
    /* display: inline; */
    width: 1170px;
}

.themenu {
    overflow: hidden;
    margin-top: 10px;
}
.menuitem li a {
    color: black;
}

img {
    float: left;
    margin-top: 1px;
}

li {
    padding-right: 30px;
    overflow: hidden;
    float: left;
    /* text-decoration: none; */
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

ul.menuitem {
    float: right;
}

ul.menuitem {
    position: relative;
    font-weight: 800;
}

.menuitem li a:hover {
    color: red
}
.menuitem i{
    color:black
}

.container {
    overflow: hidden;
    width: 1170px;
    margin: auto;
    padding-top: 140px;
}

#homeslider {
    background: url(file:///C:/Users/HP/Desktop/web%20project/image/slide-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slidercontent {
    color: white;
    padding-left: 80px;
    width: 500px;
}

h1 {
    line-height: 50px;
    font-size: 30px;
    font-weight: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    width: 266px;
    padding-left: 0px;
    line-height: 30px;
}

section#homeslider {
    height: 500px;
}

button.workbutton {
    background: red;
    width: 190px;
    height: 51px;
    text-transform: uppercase;
    word-break: 10px;
    word-spacing: 10px;
    letter-spacing: 3px;
    border-radius: 5px;
    border-color: red;
    /* color: white; */
}

.workbutton a {
    color: white;
    font-size: 15px;
    font-family: initial;
}

button.workbutton:hover {
    background: black;
    border-color: black;
}

.slidernave {
    margin: auto;
    width: 100px;
}

.slidernave span {
    margin-right: 5px;
    margin-left: 3px;
    float: left;
    cursor: pointer;
    margin: auto;
    width: 5px;
    height: 5px;
    background: transparent;
    border: 3px solid white;
    display: block;
    border-radius: 20px;
    margin-left: 4px;
}

.slidernave span:last-child {
    background: #ff5200;
    border-color: #ff5220;
}

#services {
    background: #f5f6f6;
}

.sboxwraper {
    overflow: hidden;
}

.singlebox {
    padding: 15px;
    width: 270px;
    background: white;
    transition: 1s;
}
.sboxicon {
   
    margin: 25px 0px;
    text-align: center;
    font-size: 40px;
}
.sboxtitle {
    text-align: center;
    
}
.sboxdec {
    text-align: center;
    width: 200px;
    margin: auto;
    padding-bottom: 10px;
}
.sboxlink {
    color: #ff5200;
    text-align: center;
    padding-bottom: 10px;
}
.sboxlink a {
    color: #ff5200;
}


.singlebox {
    padding-bottom: 80px;
    width: 230px;
    float: left;
    margin-right: 30px;
}
.singlebox:hover{
    background: #ff5200;
    color: white;
   
}
.singlebox:hover h2,i,a {
    color: #f4f4f2
}
.singlebox.active{
    background: #ff5200;
    color: white;
}
.singlebox.active a{
    color: #f4f4f2;
}
.singlebox:hover .sboxicon i{
    color: white;
}
.singlebox.active.sboxlink a{
    color: white;
}
.singlebox:hover .sboxlink a{
    color: white;
}


.sboxicon a,i{
    color: #ff5200;
}
.teamcontaintent {
    overflow: hidden;
}

.teamimage {
    width: 570px;
    float: left;
}

.teamimage img {
    transition: 0.7s;
    max-width: 100%;
}

.teamtitledec {
    font-size: 15px;
    width: 300px;
    /* float: left; */
    margin-left: 70px;
    /* text-align: center; */
}
.teamtitledec h2 {
    font-size: 40px;
    width: 600px;
    margin-bottom: 8px;
}
.teamtitledec p {
    width: 571px;
}
.teamtitle {
    
    overflow: hidden;
}

button.button {
    overflow: hidden;
    width: 100px;
}
ul.teamleftul {
    line-height: 40px;
    font-family: sans-serif;
    letter-spacing: 1px;
    float: right;
}

ul.teamrightul {
    line-height: 40px;
    font-family: sans-serif;
    letter-spacing: 1px;
    float: left;
}

button.button {
    float: left;
}
.\32 nd {}

.\32 nd {
    
    float: left;
}

.teamfacilitys {
 
    float: left;
    overflow: hidden;
}
.teamtitledec p {
    float: left;
}
.button button{
    cursor: pointer;
    background: #ff5200;
    color: white;
    margin-left: 56px;
   
    padding: 8px;
    border-radius: 7px;
    border-color: #ff5200;
}
.button :hover {
    background:black;
    border-color: black;
}

.teamfacilitys {
    margin-left: 25px;
}
section#ourteam {
    background: #dcdcdc14;
    
}
.teamrightul li:hover {
    color: #ff5220;
    transition: 0.3s;
}
.teamleftul li:hover {
    color: #ff5220;
    transition: 0.3s;
}
#whycooseus{
    background:linear-gradient(#0000005c,#00000096), url(image/customerNum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.singleboxicon {
    overflow: hidden;
}

.sicon i {
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}

.singleboxicon h2 {
    font-size: 50px;
    font-weight: 700;
    font-size: 40px;
    display: inline;
    font-family: system-ui;
}

.iconwraper {
    color: white;
    overflow: hidden;
}

.singleboxicon h4 {
    
    display: inline-block;
    font-family: auto;
}

.singleboxicon {
    float: left;
    margin-right: 40px;
    width: 230px;
    text-align: center;
}
.titledec h2 {
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
.titledec p {
    text-align: center;
    margin: auto;
    width: 410px;
    padding: 36px 0px;
}
.postwraper {
    overflow: hidden;
}




.spimage img{
    width: 100%;
}

.singlepost {
    float: left;
    padding-right: 26px;
    width: 250px;
}


.spdec p {
    width: 100%;
}

.spdec h2 {
    display: inline;
    font-size: larger;
    font-weight: 600;
}
#priceplane{
    background: #f5f6f6;
}
.pboxwraper {
    overflow: hidden;
}
.pboxwraper {
   
    overflow: hidden;
}

.psinglebox {
    float: left;
    margin-left: 23px;
    width: 349px;
    height: 519px;
    background:white
}

.psinglebox h3 {display:block;font-size: x-large;font-weight: revert;}

.psinglebox h1 {
    display: inline;
    font-size: xxx-large;
}

.psinglebox ul {
    line-height: 35px;
    float: left;
}
.pbtitle {
    padding-top: 20px;
    margin-left: 38px;
}
.getbutton button {
    background: #ff5220;
    border-color: #ff5220;
    color:white;
    width: 180px;
    padding: 17px 30px;
    border-radius: 3px;
    margin-left: 37px;
    
}
.getbutton button:hover{
    background: black;
    color:white;
    border-color: black;
}
section#ouridea {
    overflow: hidden;
}

.rightidea {
    padding-bottom: 46px;
    padding-left: 56px;
    overflow: hidden;
    width: 50%;
    float: right;
    background: #222222;
    color: white;
}
.rtitledec p {
    width: 694px;
    word-spacing: 5px;
}
.sicon {
    display: inline;
    float: left;
    padding-right: 28px;
}

.singleicon {
    width: 377px;
    float: left;
    margin-top: 44px;
}
.sicondec h2:hover {
    color: red;
}
.rtitledec p {
    padding-left: 0px;
}
.sicondec b {
    padding-left: 70px;
}
.sicondec h2 {
    transition: 0.4s;
}
.leftidea {
    width: 47%;
    height: 480px;
    float: left;
    background: url(image/idea1.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.singlemen {
    width: 250px;
    float: left;
    margin-right: 23px;
    overflow: hidden;
   
}

.simage img {
    width: 250px;
    margin-bottom: 22px;
}
.simagedec {
    width: 250px;
    margin-left: 31px;
}

.simagedec h2 {
    display: inline;
}

.simagedec p {
    margin-top: 0px;
    font-size: larger;
    font-weight: inherit;
    word-spacing: 3px;
    letter-spacing: 4px;
}
section#meetourteam {
    overflow: hidden;
}

.teambutton {
    display: inline;
}

.teambutton button {
    margin-top: 78px;
    margin-left: 477px;
    padding: 18px;
    font-weight: inherit;
    letter-spacing: 1px;
    font-size: larger;
    background: black;
    color: white;
    text-transform: uppercase;
}
button:hover {
    background: #ff5220;
    border-color: #ff5220;
}
.singlemen {
    overflow: hidden;
}

.simage img {
    
        transition: 0.5s;
    
  
    overflow: hidden;
    position: relative;
}

.socialicon {
   
    position: absolute;
    margin: auto;
    padding-top: 185px;
    padding-left: 26px;
    
    
}
.socialicon a i {
    border-radius: 100%;
    background: black;
    color: rgb(236, 236, 240)

}
.teamimage img:hover {
    transform: scale(1.1);
}
.spimage img:hover {
    transform: scale(1.01);
}
.simage img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.socialicon a {
    font-size: 29px;
    padding-right: 12px;
}
.socialicon {
    margin-left: 36px;
}

.socialicon a:nth-child(3):hover{
    
 

    transform: translateY(20);
  
    font-size: 50px;
}
.socialicon a:nth-child(2):hover{
  
    transform: translateY(20);
  
    font-size: 50px;
}
.socialicon a:first-child:hover{
    transform: translateY(20);
    
   
    font-size: 50px;
}
.socialicon a {
    transition: 0.5s;
}


.tdecimage img {width: 363px;height: 293px;}
.info {
    position: absolute;
    width: 334px;
    margin-top: 145px;
    /* padding-left: 29px; */
    padding: 34px 16px;
    padding-top: 0px;
    background: linear-gradient(#00000000,#000000);
    color: white;
}
.titlewraper {
    margin-bottom: 23px;
    /* margin-bottom: -124px; */
    /* overflow: hidden; */
    float: left;
    margin-right: 23px;
}


.newsboxwraper {
    float: left;
    margin-right: 15px;
    border: 1px solid #80808038;
    overflow: hidden;
    width: 350px;
}

.newsimage img {    
    transition: 0.4s;
    padding-bottom: 21px;
    width: 350px;
}
.newsimage img:hover {
    transform: scale(1.1);
}
.newsmeta p {top: 5p;top: 5;padding-left: 30px;display: inline;font-size: larger;}

.newsmeta a {
    color: black;
    padding-left: 11px;
    font-size: larger;
}

.newstitle {
    margin-bottom: 22px;
    margin-left: 30px;
}
.newsmeta a:hover {
    color: #ff5220;
}
a#morebutton {
    color: #ff5220;
    font-size: larger;
}
.newstitle h2 {
    transition: 0.3s;
    font-family: fantasy;
    font-weight: unset;
}
section#bestproject {
    background: #80808012;
}
.newstitle h2:hover {
    color: #ff5220;
}
footer#footer {
    background: black;
    color: gray;
}
.singlediv {
    width: 250px;
    float: left;
    margin-right: 42px;
}
.singlediv h2 {
    font-family: sans-serif;
}

.singlediv a {
    font-size: 23px;
    padding-right: 20px;
}
div#singlediv {
    margin-right: 31px;
    float: left;
    width: 176px;
}

div#singlediv h2 {
    font-size: larger;
}
div#singlediv2 {

    width: 405px;
    float: left;
}


div#singlediv2 h2 {
    font-family: sans-serif;
}
.leftpost {
    margin-bottom: 43px;
    color: white;
    
    text-align: center;
    height: 130px;

    width: 83px;
    float: left;
    background: #464343;
    border-radius: 4px;
    margin-right: 17px;
}
.singlediv2wraper {
    overflow: hidden;
}
div#singlediv2 h2 {
    color: white;
}
.singlediv h2 {
    color: white;
}
div#singlediv h2 {
    color: white;
}
.singlediv p {
    margin-bottom: 55px;
}

.singlediv h2 {
    margin-bottom: 32px;
}

div#singlediv ul li {
 
    margin-bottom: 40px;
    font-size: larger;
}
.singlediv p {font-size: larger;line-height: 33px;}
.singlediv a i {
    transition: 0.3s;
    color: gray;
}

.singlediv a i:hover {
    color: #ff5220;
}
div#singlediv ul li i {
    cursor: pointer;
    color: gray;
    padding-right: 10px;
}
div#singlediv h2 {
    font-family: sans-serif;
    font-size: revert;
}
.rightpost h3{
    font-family: sans-serif;
    transition: 0.3s;
}
.rightpost h3:hover {
    color: #ff5220;
    cursor: pointer;
}
.rightpost p {
    display: inline;
    padding-right: 17px;
}
div#singlediv ul li:hover {
    color: #ff5220;
    cursor: pointer;
}

div#singlediv ul li i:hover {
    color: #ff5220;
    cursor: pointer;
}
.sobcridivwraper {
    position: relative;
    overflow: hidden;
    background: #ff5220;
    color: white;
}
.subcribeboxsingle a i {
    color: white;
    height: 25px;
    width: 33px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding-top: 7px;
}
.subcribeboxsingle a i:hover {
    background: white;
    color: black;
    border-color: white;
}
.subcribeboxsingle {
    padding-bottom: 20px;
    padding-left: 70px;
    width: 320px;
    float: left;
}
.subcribeboxsingle h3 {
    font-family: sans-serif;
    font-size: x-large;
}
.subcribeboxsingle p {
    font-size: small;
    font-family: sans-serif;
}
.subcribebutton input {
    border: none;
    height: 49px;
    width: 273px;
    border-radius: 26px;
    border-color: #ff5220;
}


input#subbutton {
    position: absolute;
    height: 53px;
    width: 85px;
    background: black;
    color: white;
    left: 455px;
    border: none;
}
input#subbutton {
    position: absolute;
    height: 53px;
    width: 121px;
    background: black;
    color: white;
    border: none;
    left: 262px;
    top: 74px;
}
section#sibcribe {margin-bottom: -181px;}